@import "base/variables";
@import "base/typography";
@import "base/transitions";

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: "Averta", Arial, sans-serif;
    color: $cl-text;
    font-size: 16px !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    @media screen and (min-width: $screen-lg--1) {
        font-size: 13px !important;
    }

    @media screen and (min-width: $screen-2xl) {
        font-size: 16px !important;
    }

    @media screen and (min-width: $screen-5xl) {
        font-size: 18px !important;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    line-height: 1.35;

    @media (hover: none) and (pointer: coarse) {
        cursor: default !important;
    }

    @media (hover: none) and (pointer: fine) {
        cursor: default !important;
    }

    @media screen and (max-width: 1024px) {
        cursor: default !important;
    }
}

html {
    @media (hover) {
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        ::-webkit-scrollbar-track {
            background: #bbb;
            border-radius: 3px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: #0063f2;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #0063f2;
        }
    }
}

/* width */

.m-outline-white {
    outline: 1px solid #fff;
}

.m-outline-black {
    outline: 1px solid #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.scroll-hidden {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
