{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [],
  "rules": {
    "no-console": [1, { "allow": ["warn", "error"] }],
    "dot-notation": "off",
    "vue/script-setup-uses-vars": "error"
  }
}
