@font-face {
    font-family: "Averta";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("@/assets/fonts/Averta/AvertaDemoPE-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Averta";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("@/assets/fonts/Averta/AvertaBold.otf") format("opentype");
}
